@font-face {
    font-family: Anek;
    src: url("./Font/font1/Anek_Devanagari/AnekDevanagari-VariableFont_wdth\,wght.ttf");
}

html{
    margin: 0;
    padding: 0;

}
body{
    font-family: Anek;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("./Img/photo-mise-en-avant-restaurant-libanais-.jpg");
     background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center; 
    
}
h1{
    color: #d4e5cf; 
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em #d5a653;
    font-size: 3.9vw;
    line-height: 1em;
    margin: 0.3em;
    
}


header{
    width: 100vw;
    height: 20vh;
    margin-bottom: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}


nav{
    margin: 2em 0 0 0;
    padding: 1em;
    top: 0;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 80vw;
    height: fit-content;
    border-bottom: #FFFFFF;
    height: 20vh;
}

#icon{
    height: fit-content;
    width: 12em;
    border-radius: 50%;
 
}
img{
    max-width: 100%;
    height: auto;
}
.icon-Img
{
    flex: 1 1 80%;
    left: 1em;
    padding-right: 3em;
}
ul{
    flex: 2 1 80%;
    margin-top: 5em;
    display: flex;
    align-items: center;
    gap:1em;
}
li{
    list-style-type:none;
}
a{
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 700;
    color: #d4e5cf; 
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em #d5a653;
}

.content-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 1em;
    display: flex;
    width: 80%;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 3%;
    opacity: 0.90;
}

.container-about
{
    
    border-top: solid;
    border-color: #d4e5cf; 
    display: flex;
    gap: 1em;
    padding: 1.5em;
}

.container-about p{
    font-size: 1.5vw;
    flex: 2 1 auto;
    color: #d4e5cf; 
    text-shadow: 3px 3px 6px black, 0 0 1em black, 0 0 0.2em #d4e5cf; ;
}
.ImgAbout
{
    flex: 1 1 50%;
}

a:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em white;

}

/* Menu css */

.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice{
    background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 2.5em;
  line-height: 2.5em;
  outline: 0;
  overflow: hidden;
  padding: 0 1.75em;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
  font-size: 1.2vw;
}

.menu-choice{
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}
.menuPizza
{
    opacity: 0.85;
    border-radius: 2%;
    background-image:linear-gradient(-180deg, black, black);
    background-color: white;
    color:#6B0F9C ;
    color: rgb(242, 241, 248);
    font-size: 2vw;
    display: grid;
    height: 90%;
    
    
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas: 
    "pizza1 pizza1Ing prixPizza1"
    "pizza2 pizza2Ing prixPizza2"
    "pizza3 pizza3Ing prixPizza3"
    "pizza4 pizza4Ing prixPizza4"
    "pizza5 pizza5Ing prixPizza5"
    "pizza6 pizza6Ing prixPizza6"
    ;
    grid-gap: 0.2rem 1rem;
    
}

.menuFelafel
{
    opacity: 0.85;
    border-radius: 2%;
    background-image:linear-gradient(-180deg, black, black);
    
    color: rgb(242, 241, 248);
    font-size: 3vw;
    display: grid;
    height: 90%;


    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.25fr 0.25fr ;
    grid-template-areas: 

    "felafel1 felafel1Ing felafelPrix"
    "Lahmacum LahmacumIng lahmacunPrix"
  
    ;
    grid-gap: 0.2rem 1rem;

}


#felafel1,#Lahmacum,#felafelPrix,#lahmacunPrix{
    
    align-self: center;
    font-size: 1.5vw;
}
#LahmacumIng, #felafel1Ing
{
    border-top: 1px solid white;
    justify-self: center;
    align-self: center;
    font-size: 1.5vw;
}

#felafel1{grid-area:felafel1;}
#felafel1Ing{grid-area: felafel1Ing;}
#felafelPrix{grid-area: felafelPrix;}

#LahmacumIng{grid-area: LahmacumIng;}
#Lahmacum{grid-area: Lahmacum;}
#lahmacunPrix{grid-area: lahmacunPrix;}


    
#pizza1Ing, #pizza2Ing, #pizza3Ing, #pizza4Ing, #pizza5Ing, #pizza6Ing{
    border-top: 1px solid white;
    justify-self: center;
    align-self: center;
    font-size: 1.5vw;
}
#pizza1, #pizza2, #pizza3, #pizza4, #pizza5,#pizza6{
    
    font-size: 2vw;
    justify-self: center;
    align-self: center;
    text-align: center;
}
#prixPizza1, #prixPizza2,#prixPizza3, #prixPizza4, #prixPizza5,#prixPizza6{
  
    font-size: 1.5vw;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#prixPizza1{ grid-area: prixPizza1;}
#prixPizza2{grid-area: prixPizza2;}
#prixPizza3{grid-area: prixPizza3;}
#prixPizza4{grid-area: prixPizza4;}
#prixPizza5{grid-area: prixPizza5;}
#prixPizza6{grid-area: prixPizza6;}

#pizza1{grid-area: pizza1;}
#pizza2{grid-area: pizza2;}
#pizza3{grid-area: pizza3;  }
#pizza4{grid-area: pizza4;  }
#pizza5{grid-area: pizza5;}
#pizza6{grid-area: pizza6;}

#pizza1Ing{grid-area: pizza1Ing;}
#pizza2Ing{grid-area: pizza2Ing;}
#pizza3Ing{grid-area: pizza3Ing;}
#pizza4Ing{grid-area: pizza4Ing;}
#pizza5Ing{grid-area: pizza5Ing;}
#pizza6Ing{grid-area: pizza6Ing;}

*, *:before, *:after {
    box-sizing: inherit;
  }

  .panels {
    height: 80vh;
    width: 80vw;
    overflow: hidden;
    display: flex;
  }
  .panel p:hover{
    text-shadow: 0 0 5px #FFF, 0 0 5px #FFF, 0 0 15px #FFF, 0 0 10px rgb(25, 31, 117), 0 0 150px rgb(25, 31, 117), 0 0 40px rgb(43, 117, 25), 0 0 22.5px rgb(25, 31, 117), 0 0 32px rgb(109, 25, 117);

}
  .panel {
    margin-bottom: 0.5em;
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    padding: 0.2em;
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      flex 0.5s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.5s;
    font-size: 2vw;
    background-size: cover;
    background-position: center center;
  }

  .panel1 { background-image:url('./Img/Pizza-pie-tomatoes-oil_2560x1600.jpg'); }
  .panel2 { background-image:url('./Img/pexels-nataliya-vaitkevich-6275183.jpg'); }
  .panel3 { background-image:url('./Img/617baf742ddba_meilleures-idees-cocktails-maison.webp');}

  /* Flex Children */
  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.3s;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .panel> *:first-child {transform: translateY(0);}
  .panel.open-active > *:first-child{transform: translateY(-100%);}

  .panel> *:nth-child(2) {transform: translateY(-100%);}
  .panel.open-active > *:nth-child(2){transform: translateY(0);}

  .panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em white;
    
    font-size: 2vw;
    
  }
  
  .panel p:nth-child(2) {
    font-size: 2vw;
  }

  .panel.open {
    flex:6;
    font-size: 2vw;
  }





@media only screen and (max-width:850px) {

    header{
        position: relative;
    }
    .content-about{
        position: relative;
    }

    .container-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .choice{
        height: 3vw;
        
    }

    .container-about p{
        font-size: 2vw;
    }

    Img
    {
        max-width: 50% ;
    }

    .icon-Img{
        flex: 1 0 auto;
        
    }


    ul{
        
        margin-top: 2.5em;
    }


    a{
        font-size: 3vw;
    }
  
}

