@font-face {
    font-family: Anek;
    src: url("./Font/font1/Anek_Devanagari/AnekDevanagari-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: Playfair;
    src: url("./Font/font2/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

html{
    margin: 0;
    padding: 0;

}
body{
    font-family: Anek;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("./Img/photo-mise-en-avant-restaurant-libanais-.jpg");
     background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center; 
}
*, *:before, *:after {
    box-sizing: inherit;
  }

h1{
    color: #d4e5cf; 
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em #d5a653;
    font-size: 3.9vw;
    line-height: 1em;
    margin: 0.3em;
    
}


header{
    width: 100vw;
    height: 20vh;
    margin-bottom: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}


nav{
   
    padding-top: 2.5em;
    top: 0;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 80vw;
    height: fit-content;
    border-bottom: #FFFFFF;
    height: 20vh;
}
ul{
    flex: 2 1 80%;
    margin-top: 5em;
    display: flex;
    align-items: center;
    gap:1em;
}
li{
    list-style-type:none;
}
a{
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 700;
    color: #e4e49c;; 
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em #d5a653;
}
a:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em white;

}
img{
    max-width: 100%;
    height: auto;
}

button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 3.5em;
    line-height: 3.5em;
    outline: 0;
    overflow: hidden;
    padding: 0 1.75em;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
  }

  iframe{
    width: 100%;
    height: 100%;
}

#icon{
    height: fit-content;
    width: 12em;
    border-radius: 50%;
 
}

.icon-Img
{
    flex: 1 1 80%;
    left: 1em;
    padding-right: 3em;
}


.content-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 1em;
    display: flex;
    width: 80%;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 3%;
    opacity: 0.90;
    margin-top: 2em;
}
.close{
    display: none !important;
}

.container-about
{
    
    border-top: solid;
    border-color: #d4e5cf; 
    display: flex;
    gap: 1em;
    padding: 1.5em;
}

.container-about p{
    font-size: 1.5vw;
    flex: 2 1 auto;
    color: #d4e5cf; 
    text-shadow: 3px 3px 6px black, 0 0 1em black, 0 0 0.2em #d4e5cf; ;
}
.ImgAbout
{
    flex: 1 1 50%;
}



/* Menu css */

.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice{
    background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 2.5em;
  line-height: 2.5em;
  outline: 0;
  overflow: hidden;
  padding: 0 1.75em;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
  font-size: 1.2vw;
}

.menu-choice{
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}


.pizza-tab-display
{
    opacity: 0.85;
    border-radius: 2%;
    background-image:linear-gradient(-180deg, black, black);
    background-color: white;
    color:#6B0F9C ;
    color: rgb(242, 241, 248);
    font-size: 2vw;
    height: 99%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas: 
    "pizza1 pizza1Ing prixPizza1"
    "pizza2 pizza2Ing prixPizza2"
    "pizza3 pizza3Ing prixPizza3"
    "pizza4 pizza4Ing prixPizza4"
    "pizza5 pizza5Ing prixPizza5"
    "pizza6 pizza6Ing prixPizza6"
    ;
    grid-gap: 0.2rem 1rem;
    margin-top: 0;
    
}
.sliderContainer
{   
    background: linear-gradient(
    45deg,
    #1f5294, 
    #071a33,
    #2e1a0f,
    #1f5294, 
    #071a33,
    #2e1a0f
  );
    color: rgb(242, 241, 248);
    font-size: 2vw;
    height: 98%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    grid-template-columns: 100%;
    grid-template-rows: 20% 45% 25%;
    grid-template-areas: 
        "pizzaTittle"
        "slideShow"
        "buttonPizza";
        grid-gap: 0.2em;
        align-content: space-between;
}

.slider-pizza-tittle
{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: pizzaTittle ;
    gap: 1em;
}
.slider-pizza-tittle h2
{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    box-shadow: 0 5px 10px rgb(1 1 1 /5%);
    padding: 10px;
    border-radius: 10px;
    font-size: 2.5vw;

}
.slideShow-Display
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.2em;
    padding: 0.2em;
    height: 30vh;
}

.button-slider-pizza{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    grid-area: buttonPizza;
}
.Ing-Pizza-Slider
{
   display: flex;
   justify-content: center;
    align-items: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    box-shadow: 0 5px 10px rgb(1 1 1 /5%);
    font-size: 0.5vw;  
    width: 85%;
    border-radius: 10px;
    padding: 10px;
}
.info 
{
    width: 75%; 
  
    color: rgb(19, 19, 20);
}
.info p
{
    color: rgb(19, 19, 20);
}
.buttonChoiceSlider
{
    border-top: 1px solid white;
    width: 20%;
    display: flex;
    padding-top: 0.3em;
    justify-content: center;
    gap: 0.5em;
    position: absolute;
}


.navig-slide{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.slideButton {
 padding: 0 1.5em;
  border: none;
  outline: none;
  color: rgb(167, 208, 221);
  background: #111;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 99;
}

.slideButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #1f5294, 
    #071a33,
    #2e1a0f,
    #1f5294, 
    #071a33,
    #2e1a0f
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


#slideshow{
    
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: slideShow;
    flex: 1;
    height: 40vh;
    width: 95%;
    object-position: center;
    position: absolute;
   
}
#slideshow > img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%; 
    border-radius: 10px;
}

.pizza-Selected
{
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Img/photo-mise-en-avant-restaurant-libanais-.jpg");
  background-size: cover;
 -o-background-size: cover;
 background-position: center center;
 background-attachment: fixed; 
}
.pizzaSelected-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 1em;
    display: flex;
    flex: 1;
    width: 80%;
    height: 80%;
    border-radius: 1%;
    opacity: 0.95;   
    background: linear-gradient(
        45deg,
        #1f5294, 
        #071a33,
        #2e1a0f,
        #1f5294, 
        #071a33,
        #2e1a0f
      );
      padding-top: 1em;

}


.close-return-button
{
    position: absolute;
    display: flex;
    right: 10%;
    top:12%;
    gap: 0.1em;
    height: 2em;
}
.buttonClose
{
    padding: 0 0.5em;
    height: 2em;
    line-height: 2em;
    border: none;
    outline: none;
    color: rgb(167, 208, 221);
    background: #111;
    cursor: pointer;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    z-index: 99;
}
.buttonClose::after{
    content: "";
    background: linear-gradient(
      45deg,
      #1dadd1, 
      #0c4a9b,
      #36aa70,
      #1dadd1, 
      #0c4a9b,
      #36aa70
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
.buttonClose:hover
{
    background-color: #90c081;
}
.pizza-selected-slide-show
{
    padding: 3em;
}

.pizza-Selected:first-child
{
  flex: 3;
  margin-top: 2em;
  padding: 0.5em;
}
.pizza-Selected-Container-Contenu
{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1em;
    flex: 1;
}
.pizza-Selected-img img{
    
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.pizza-Selected-img{
    padding: 1em;
    flex: 1;
    width: 90%;
    height: 30vh;
}
#pizza-Selected-Contact{
    border-radius: 10px;
    padding: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 5px 10px rgb(1 1 1 /5%);

}


.menuCocktail
{
    opacity: 0.85;
    border-radius: 2%;
    background-image:linear-gradient(-180deg, black, black);
    background-color: white;
    color:#6B0F9C ;
    color: rgb(242, 241, 248);
    font-size: 2vw;
    display: grid;
    height: 95%;
    overflow-y: auto;
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas: 
    "cocktail1 cocktailIng1 cocktail1Prix"
    "cocktail2 cocktailIng2 cocktail2Prix"
    "cocktail3 cocktailIng3 cocktail3Prix"
    "cocktail4 cocktailIng4 cocktail4Prix"
    "cocktail5 cocktailIng5 cocktail5Prix";
    grid-gap: 0.2rem 1rem;
    margin-top: 0; 
}

.menuFelafel
{
    opacity: 0.85;
    border-radius: 2%;
    background-image:linear-gradient(-180deg, black, black);
    color: rgb(242, 241, 248);
    font-size: 2vw;
    display: grid;
    height: 90%;
    align-content:space-around;
    overflow-x: auto;
    grid-template-columns: 2fr 3fr 0.5fr;
    grid-template-rows: 0.25fr 0.40fr ;
    grid-template-areas: 
    "felafel1 felafel1Ing felafelPrix"
    "Lahmacum LahmacumIng lahmacunPrix";
    grid-gap: 0.2rem 1rem;
}


#felafel1,#Lahmacum,#felafelPrix,#lahmacunPrix{
    
    align-self: center;
    font-size: 1.5vw;
}
#LahmacumIng, #felafel1Ing
{
    border-top: 1px solid white;
    justify-self: center;
    align-self: center;
    font-size: 1.3vw;
}

#felafel1{grid-area:felafel1;}
#felafel1Ing{grid-area: felafel1Ing;}
#felafelPrix{grid-area: felafelPrix;}

#LahmacumIng{grid-area: LahmacumIng;}
#Lahmacum{grid-area: Lahmacum;}
#lahmacunPrix{grid-area: lahmacunPrix;}

#pizza1Ing, #pizza2Ing, #pizza3Ing, #pizza4Ing, #pizza5Ing, #pizza6Ing{
    border-top: 1px solid white;
    justify-self: center;
    align-self: center;
    font-size: 1.3vw;
}
#pizza1, #pizza2, #pizza3, #pizza4, #pizza5,#pizza6{
    
    font-size: 1.5vw;
    justify-self: center;
    align-self: center;
    text-align: center;
}
#prixPizza1, #prixPizza2,#prixPizza3, #prixPizza4, #prixPizza5,#prixPizza6{
  
    font-size: 1.3vw;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#cocktail1, #cocktail2, #cocktail3, #cocktail4, #cocktail5{
    
    font-size: 1.5vw;
    justify-self: center;
    align-self: center;
    text-align: center;
}
#cocktailIng1, #cocktailIng2, #cocktailIng3, #cocktailIng4, #cocktailIng5{
    
    border-top: 1px solid white;
    justify-self: center;
    align-self: center;
    font-size: 1.3vw;
}

#cocktail1Prix,#cocktail2Prix,#cocktail3Prix,#cocktail4Prix,#cocktail5Prix
{
    font-size: 1.3vw;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#cocktail1{grid-area: cocktail1;}
#cocktail2{grid-area: cocktail2;}
#cocktail3{grid-area: cocktail3;}
#cocktail4{grid-area: cocktail4;}
#cocktail5{grid-area: cocktail5;}

#cocktailIng1{grid-area: cocktailIng1;}
#cocktailIng2{grid-area: cocktailIng2;}
#cocktailIng3{grid-area: cocktailIng3;}
#cocktailIng4{grid-area: cocktailIng4;}
#cocktailIng5{grid-area: cocktailIng5;}

#cocktail1Prix{grid-area: cocktail1Prix;}
#cocktail2Prix{grid-area: cocktail2Prix;}
#cocktail3Prix{grid-area: cocktail3Prix;}
#cocktail4Prix{grid-area: cocktail4Prix;}
#cocktail5Prix{grid-area: cocktail5Prix;}


#prixPizza1{ grid-area: prixPizza1;}
#prixPizza2{grid-area: prixPizza2;}
#prixPizza3{grid-area: prixPizza3;}
#prixPizza4{grid-area: prixPizza4;}
#prixPizza5{grid-area: prixPizza5;}
#prixPizza6{grid-area: prixPizza6;}

#pizza1{grid-area: pizza1;}
#pizza2{grid-area: pizza2;}
#pizza3{grid-area: pizza3;  }
#pizza4{grid-area: pizza4;  }
#pizza5{grid-area: pizza5;}
#pizza6{grid-area: pizza6;}

#pizza1Ing{grid-area: pizza1Ing;}
#pizza2Ing{grid-area: pizza2Ing;}
#pizza3Ing{grid-area: pizza3Ing;}
#pizza4Ing{grid-area: pizza4Ing;}
#pizza5Ing{grid-area: pizza5Ing;}
#pizza6Ing{grid-area: pizza6Ing;}



  .panels {
    height: 80vh;
    width: 80vw;
    overflow: hidden;
    display: flex;
  }

  .panel {
    margin-bottom: 0.5em;
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 0.1em;
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition:
    flex 0.5s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.5s;
    font-size: 2vw;
    background-size: cover;
    background-position: center center;
  }



  .panel1 { 
    background-image:url('./Img/pizza4.jpg');
   
}
  .panel2 { background-image:url('./Img/pexels-nataliya-vaitkevich-6275183.jpg'); }
  .panel3 { background-image:url('./Img/617baf742ddba_meilleures-idees-cocktails-maison.webp');}

  /* Flex Children */
  .panel > * {
    margin: 0 1em 0 1em;
    width: 100%;
    transition: transform 0.3s;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .panel> *:first-child {transform: translateY(0);}
  .panel.open-active > *:first-child{transform: translateY(-100%);}

  .panel> *:nth-child(2) {transform: translateY(-100%);}
  .panel.open-active > *:nth-child(2){transform: translateY(0);}

  .panel p {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em white;
    font-size: 2.5vw;
  }
 
  .sliderContainer p {
    text-transform: none;
    text-shadow: none;
    font-size: 2vw;
    }
.sliderContainer p:hover{
    text-shadow: none;
}
.pizza-Selected>p:hover{
    text-shadow: none;
}
  
  .panel p:nth-child(2) {
    font-size: 2vw;
  }

  .panel.openMobile {
    flex:5 0 85%;
    font-size: 2vw;
  }
  .panel.open {
    flex:5 ;
    font-size: 2vw;
   
  }

  .buttonPizza
  {
    height: 100%;
    flex: 1;
    opacity: 0.90;
    font-family: 'Times New Roman', Times, serif, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vw;
    background-image: none;
    text-shadow: 5px 5px 25px#000116, 0 0 1em #000116, 0 0 0.2em rgb(0, 0, 0);

  }
  .conteneurButtonPizza{
    display: flex;
    gap :0.5em;
    padding: 0 1em 0 1em;
    position: relative;
  }

  /**** Contact page ***/ 
  .container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 1em;
    display: flex;
    width: 80vw;
    border-radius: 3%;
    opacity: 0.95;   
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    
}

.content{
    display: flex;
    border-top: solid;
    border-color: #d4e5cf;
    justify-content: space-between;
    width: 80vw;
    height: 40vh;
    
}

.contact h2
{
    font-size: 3.5vmin;
    text-align: left;
    flex: 1 1 auto;
    line-height: 1em;
    margin: 0.7em;
    color: #d4e5cf;
    
    
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.contact h3
{
    font-size: 2.5vmin;
    line-height: 1.5em;
    text-align: left;
    flex: auto;
    margin: 0.7em;
    color: #d4e5cf;
    
}
.map{
    padding: 1em;
    flex: 2 1 auto;
}






@media only screen and (max-width:1050px) {

    header{
        position: relative;
    }
   

    .container-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .choice{
        height: 3vw;
        
    }

    .container-about p{
        font-size: 2vw;
    }

   

    .icon-Img{
        flex: 1 0 auto;
        
    }


    ul{
        
        margin-top: 2.5em;
    }


    a{
        font-size: 3vw;
    }
  
}

@media only screen and (max-width:800px)
{
    .icon-Img{
      padding-right: 0;
    }
    #icon
    {
        max-width: 50%;
    }
    #slideshow Img{
        max-width: 100%;

    }
   
    nav{
        flex-direction: column;
        justify-content: space-around;
        width: auto;
        margin-bottom: 2.5em;
    }
    a{
        font-size:3.5vw;
        
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

@media only screen and (max-width:500px)
{
    .icon-Img{
      padding-right: 0;
      margin-top:3em;
      margin-bottom: 0;
      position: relative;
    }
    nav{
        flex-direction: column;
        width: auto;
        gap: 0;
        margin: 0;
        align-items: center;
    }
  
    a{
        font-size:4.5vw
    }
    .container{
        margin-bottom: 1.5em;
    }
    .container-about
    {
        margin-bottom: 1.5em;
    }
    #pizza1Ing, #pizza2Ing, #pizza3Ing, #pizza4Ing, #pizza5Ing, #pizza6Ing{
       
        font-size: 2.5vw;
    }
    #pizza1, #pizza2, #pizza3, #pizza4, #pizza5,#pizza6{
        
        font-size: 3.5vw;
        ;
    }
    #prixPizza1, #prixPizza2,#prixPizza3, #prixPizza4, #prixPizza5,#prixPizza6{
      
        font-size: 2.3vw;
        
    }
    #cocktail1, #cocktail2, #cocktail3, #cocktail4, #cocktail5
    {
        font-size: 3.5vw;
    }
    #cocktailIng1, #cocktailIng2, #cocktailIng3, #cocktailIng4, #cocktailIng5{
        font-size: 2.5vw;
    }

    #cocktail1Prix,#cocktail2Prix,#cocktail3Prix,#cocktail4Prix,#cocktail5Prix
    {
        font-size: 2.3vw;
    }

    #felafel1, #Lahmacum,#felafelPrix,#lahmacunPrix{
    
        overflow-x: auto;
        font-size: 2.8vw;
    }
  
    #LahmacumIng, #felafel1Ing
    {
    
        font-size: 2.5vw;
    }
    #icon{
        width: 35%;
        height: auto;
    }

    .panels
    {
        
        height: 70vh;
        width: 100vw;
        
    }
    .panel p{
        
        font-size: 4vw;
    }
    
    .buttonPizza{
        font-size: 4vw;
    }

   .contact h3 a{
        font-size: 1.8vmin;
    }
    .container-contact
    {
        margin-top: 2em;
    }

    .pizza-Selected h3
    {
        font-size: 3.5vmin;
    }
    .pizza-Selected h2
    {
        font-size: 4.5vmin;
    }
    .slider-pizza-tittle{
        font-size: 3.5vmin;
    }
    .slideButton{
        padding: 0 1.75em;
        opacity: 0.80;
    }

   
 
}


